html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  border-bottom: 1px solid #ccc;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #fff;
  gap: 20px;
  border-bottom: 1px solid #ccc;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-container:hover {
  cursor: pointer;
  opacity: 0.85;
}
.logo-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #e0f0ff;
}
.logo-text {
  font-size: 22px;
  font-weight: bold;
  color: #69a5f9;
  font-family: Arial, sans-serif;
}
img {
  width: 50px;
  height: 50px;
  align-items: center;
  padding: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 600px;
  margin: 0 20px;
}

.search-bar input {
  flex: 1;
  height: 40px;
  padding: 0px 10px;
  width: 250px;
  border: 2px solid #007bff;
  border-right: 1px solid #007bff;
  border-radius: 4px;
  font-size: 14px;
}

.search-bar select {
  height: 40px;
  padding: 0px 10px;
  border: 2px solid #007bff;
  border-left: 1px solid #007bff;
  border-right: 1px solid #007bff;
  border-radius: 4px;
  font-size: 14px;
}
.search-bar button {
  height: 40px;
  width: 100px;
  padding: 0px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.user-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f8;
  gap: 20px;
  padding: 10px 0;
}
.user-actions a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}
.user-actions div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
}

.user-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}
.user-icons i {
  font-size: 20px;
  margin-bottom: 6px;
}
.user-icons span {
  font-size: 14px;
}
.user-icons:hover {
  color: #007bff;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.main-nav li {
  cursor: pointer;
}

.lang-currency select {
  padding: 5px;
  margin-left: 10px;
}

/* Footer Styles */
footer {
  background-color: #f8f8f8;
  padding: 40px 50px 20px;
  color: #333;
  font-size: 14px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-logo {
  max-width: 250px;
}

.footer-logo p {
  gap: 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.social-icons i {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: lighter;
}

.footer-links div {
  min-width: 140px;
}

.footer-links h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;

}

.footer-links a {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.footer-links img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 120px;
  height: 70px;
}

.footer-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  align-items: center;
}
.language {
  display: flex;
  align-items: center;
  gap: 8px;
}
.dropdown-menu {
  padding: 4px 8px;
  font-size: 14px;
}
.flag-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
